*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  border: 0;
  scroll-behavior: smooth;
  color: #2E2E2E;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden;
}

body.modal-active {
  overflow: hidden;
}

.bg-gradient {
  background: -webkit-radial-gradient(50% 50% at 50% 50%, #A8C5EA 0%, #477ABC 100%) no-repeat;
  background: -o-radial-gradient(50% 50% at 50% 50%, #A8C5EA 0%, #477ABC 100%) no-repeat;
  background: radial-gradient(50% 50% at 50% 50%, #A8C5EA 0%, #477ABC 100%) no-repeat;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
}

.bg {
  position: absolute;
  top: 0;
  min-height: 100%;
  width: auto;
  z-index: -1;
}

.bg-right {
  right: -300px;
  z-index: -1;
}

.bg-left {
  z-index: -1;
  top: 0;
}

.logo {
  width: 3.6rem;
  height: auto;
  cursor: pointer;
}

.ico {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.btn {
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
  min-width: 22rem;
  height: 3.6rem;
  padding: 0 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

.btn span {
  color: #fff;
}

.btn img.ico {
  margin-right: 1rem;
}

.btn.btn-blue {
  background-color: #477ABC;
}

.btn.btn-blue:hover {
  -webkit-box-shadow: 0px 4px 16px rgba(47, 137, 206, 0.5);
          box-shadow: 0px 4px 16px rgba(47, 137, 206, 0.5);
}

.btn.btn-green {
  background-color: #21A038;
}

.btn.btn-green:hover {
  -webkit-box-shadow: 0px 4px 16px rgba(117, 205, 155, 0.5);
          box-shadow: 0px 4px 16px rgba(117, 205, 155, 0.5);
}

.input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .25rem .5rem;
  background: #FFFFFF;
  border: 2px solid #D7D7D7;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  width: 20rem;
}

.input img {
  margin-right: 1rem;
}

.input input {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.input input::-webkit-input-placeholder {
  color: #D7D7D7;
}

.input input:-ms-input-placeholder {
  color: #D7D7D7;
}

.input input::-ms-input-placeholder {
  color: #D7D7D7;
}

.input input::placeholder {
  color: #D7D7D7;
}

input[type="checkbox"] {
  position: absolute;
  z-index: -1000;
  opacity: 0;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 2rem;
  display: block;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  left: .5rem;
  top: 0;
  border: 2px solid #75CD9B;
  -webkit-border-radius: 10000px;
          border-radius: 10000px;
  -webkit-transition: .1s ease-in;
  -o-transition: .1s ease-in;
  transition: .1s ease-in;
}

input[type="checkbox"]:checked + label::before {
  background-color: #75CD9B;
}

.modal {
  display: none;
  position: fixed;
  left: -webkit-calc(50% - 30rem);
  left: calc(50% - 30rem);
  top: -webkit-calc(50% - 15rem);
  top: calc(50% - 15rem);
  background-color: #fff;
  border: 2px solid #EEEEEE;
  -webkit-box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 36px;
          border-radius: 36px;
  width: 60rem;
  height: 30rem;
  z-index: 100000;
  padding: 2rem;
}

.modal.active {
  display: block;
}

.modal .modal__header {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.modal .modal__desc {
  font-size: 1.2rem;
}

.modal .modal__options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px dashed #D7D7D7;
  padding-bottom: 4rem;
}

.modal .modal__options .modal__option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

.modal .modal__options .modal__option span {
  font-size: 1.2rem;
  margin-left: .5rem;
  font-weight: 500;
}

.modal .modal__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.modal .modal__bottom .modal__subheader {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.modal .modal__bottom .modal__form form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.modal .modal__bottom .modal__form form input[type='submit'] {
  min-width: 12rem;
  margin-left: 1rem;
}

.modal .modal__close {
  position: fixed;
  right: -webkit-calc((50% - 30rem) + 1.5rem);
  right: calc((50% - 30rem) + 1.5rem);
  top: -webkit-calc(50% - 13.5rem);
  top: calc(50% - 13.5rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.modal .modal__close span {
  margin-right: .5rem;
  color: #E85151;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(200, 200, 200, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.overlay.active {
  display: block;
}

nav {
  width: 70%;
  height: 10vh;
  margin: 3rem auto;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-border-radius: 16px;
          border-radius: 16px;
  border: 1px solid #D7D7D7;
  padding: 0rem 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav__mobile {
  display: none;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav__mobile img.logo {
  margin-right: 2rem;
}

nav .nav__mobile img.ico {
  margin-left: auto;
}

nav .nav__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav__block img.logo {
  margin-right: 2rem;
}

nav .nav__block .nav__menu,
nav .nav__block .nav__socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav__block .nav__menu li,
nav .nav__block .nav__socials li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

nav .nav__block .nav__menu li:first-child,
nav .nav__block .nav__socials li:first-child {
  margin-right: 2rem;
}

nav .nav__block .nav__menu li img,
nav .nav__block .nav__socials li img {
  margin-right: 1rem;
}

nav .nav__block .nav__menu li a,
nav .nav__block .nav__socials li a {
  font-size: 1.2rem;
  font-weight: 500;
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
}

nav .nav__block .nav__menu li a:hover,
nav .nav__block .nav__socials li a:hover {
  text-shadow: 0 0 .5px black;
}

main {
  min-height: -webkit-calc(90vh - 6rem);
  min-height: calc(90vh - 6rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main__header {
  font-weight: bold;
  color: #fff;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

main .main__header.main__header_dark {
  color: #2E2E2E;
}

main .main__subheader {
  font-weight: 500;
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}

main .main__subheader.main__subheader_dark {
  color: #2E2E2E;
}

main .main__desc_dark {
  color: #2E2E2E;
}

main .blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 1px solid #D7D7D7;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  width: 70%;
}

main .blocks .block {
  margin: 1.5rem 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-right: 2rem;
  border-right: 2px solid #D7D7D7;
}

main .blocks .block span {
  margin-right: 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
}

main .blocks .block:last-child {
  border: none;
}

main .blocks .block .mobile-element {
  display: none;
}

main .blocks .block p {
  margin-top: 1rem;
  text-align: center;
}

main .blocks .block a.btn {
  min-width: 15rem;
  width: 50%;
  margin-top: 1rem;
}

main .main__desc {
  margin-top: 3rem;
  color: #fff;
  font-weight: 300;
  line-height: 1.8rem;
  font-size: 1.2rem;
  max-width: 40rem;
  text-align: center;
}

main .main__desc.main__desc_dark {
  color: #2E2E2E;
}

main .main__banks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

main .main__banks .main__bank-block:not(:last-child) {
  margin-right: 2rem;
}

main .main__banks .main__bank-block img {
  opacity: .5;
}

main.banks {
  margin-bottom: 5rem;
}

main.banks .main__desc {
  margin: 0;
}

main.banks .mobile-element {
  display: none;
}

main.banks .main__btns {
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

main.banks .main__btns a:first-child {
  margin-right: 2rem;
  white-space: normal;
}

main.banks .main__btns a:last-child {
  width: 30%;
}

main.banks .main__banks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 70%;
}

main.banks .main__banks .bank {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  border: 2px solid #EEEEEE;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
  width: 18rem;
  height: 10rem;
  padding-left: 2rem;
  margin-bottom: 3rem;
  margin-right: 1rem;
  cursor: pointer;
}

main.banks .main__banks .bank .bank__logo {
  margin-bottom: 2rem;
  width: -webkit-calc(100% - 4rem);
  width: calc(100% - 4rem);
}

main.banks .main__banks .bank span {
  font-weight: 500;
  font-size: 1.2rem;
}

main.banks .main__banks .bank:hover {
  -webkit-box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.05);
}

main.report .main__header-block {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.report .main__header-block img {
  margin-left: 2rem;
}

main.report .report-block {
  border-bottom: 2px dashed #D7D7D7;
  border-top: 2px dashed #D7D7D7;
  padding: 5rem 0;
  width: 70%;
}

main.report .report-block .report-block__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

main.report .report-block .report-block__header h3 {
  margin-right: 1.5rem;
}

main.report .report-block .report-block__header span {
  border: 2px solid #75CD9B;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  color: #75CD9B;
  padding: .7rem 3rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

main.report .report-block .report-types {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 3rem;
}

main.report .report-block .report-types .report-type {
  margin-bottom: 1rem;
  width: 19rem;
  height: 14rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  border: 2px solid #EEEEEE;
  cursor: pointer;
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
}

main.report .report-block .report-types .report-type:hover {
  -webkit-box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.05);
}

main.report .report-block .report-types .report-type .report-type__img {
  -webkit-border-radius: 16px 16px 0 0;
          border-radius: 16px 16px 0 0;
  width: 100%;
  height: 65%;
  overflow: hidden;
  position: relative;
}

main.report .report-block .report-types .report-type .report-type__img .gradient {
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(71, 122, 188, 0.5)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, rgba(71, 122, 188, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(bottom, rgba(71, 122, 188, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(0deg, rgba(71, 122, 188, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 100;
  width: 100%;
  height: 100%;
}

main.report .report-block .report-types .report-type .report-type__img img {
  width: 100%;
}

main.report .report-block .report-types .report-type .report-type__caption {
  height: 35%;
  padding: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

main.report .report-block .report-types .report-type .report-type__caption span {
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 1rem;
}

footer {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 4rem;
  height: 18rem;
}

footer .logo {
  width: 5rem;
  height: auto;
}

footer .footer__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

footer .footer__block:last-child {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__block .footer__right-block {
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__block .logo {
  margin-right: 2rem;
}

footer .footer__block span {
  text-align: center;
  font-weight: 600;
  font-size: 2.6rem;
}

footer .footer__block span a {
  font-size: 2.1rem;
}

footer .footer__block .footer__copyright {
  display: block;
  font-weight: 300;
  font-size: 1.7rem;
}

footer .footer__block .footer__address {
  font-size: 1.6rem;
  font-weight: 500;
}

@media screen and (max-width: 1700px) {
  nav {
    width: 80%;
    padding: 0 4rem;
  }
}

@media screen and (max-width: 1500px) {
  nav {
    width: 90%;
    padding: 0 3rem;
  }
}

@media screen and (max-width: 1440px) {
  .bg {
    display: none;
  }
  .bg-gradient {
    background: -webkit-radial-gradient(153.02% 44.91% at 50% 50%, #A8C5EA 0%, #477ABC 100%);
    background: -o-radial-gradient(153.02% 44.91% at 50% 50%, #A8C5EA 0%, #477ABC 100%);
    background: radial-gradient(153.02% 44.91% at 50% 50%, #A8C5EA 0%, #477ABC 100%);
  }
  nav .nav__block:first-child li:not(:nth-child(2)) {
    display: none;
  }
  nav .nav__block:last-child ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  nav .nav__block:last-child ul li {
    margin: 0;
  }
  nav .nav__block:last-child ul li:first-child {
    margin-right: 0;
  }
  nav .nav__block:last-child ul li:first-child {
    margin-bottom: .5rem;
  }
  main .blocks {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .bg-gradient {
    height: 220vh;
  }
  main.main .main__desc,
  main.main .main__banks {
    display: none;
  }
  main.banks .main__btns a:first-child {
    margin: 0;
  }
  main.banks .main__btns a:last-child {
    display: none;
  }
  main.banks .mobile-element {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  main.banks .main__banks {
    width: -webkit-calc(100% - 2rem);
    width: calc(100% - 2rem);
  }
  main.banks .main__banks .bank {
    margin: 0;
    margin-bottom: 2rem;
    width: 25rem;
    height: 14rem;
  }
  main .main__header {
    font-size: 2.5rem;
  }
  main .blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    min-width: 20rem;
    border: 0;
    background-color: transparent;
  }
  main .blocks .block {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 0;
    background-color: #fff;
    border: 2px solid #EEEEEE;
    -webkit-border-radius: 22px;
            border-radius: 22px;
    padding: 2rem;
  }
  main .blocks .block .mobile-element {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  main .blocks .block .illustration {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 1rem;
  }
  main .blocks .block span {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  main .blocks .block .ico {
    display: none;
  }
  .modal {
    width: -webkit-calc(100% - 2rem);
    width: calc(100% - 2rem);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    max-height: -webkit-calc(100vh - 2rem);
    max-height: calc(100vh - 2rem);
    left: 1rem;
    top: 1rem;
    overflow-y: auto;
  }
  .modal .modal__header {
    margin-top: 1.5rem;
    font-size: 2rem;
  }
  .modal .modal__desc {
    text-align: center;
  }
  .modal .modal__options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 1rem;
  }
  .modal .modal__options .modal__option {
    margin: 0;
    margin-bottom: 1rem;
  }
  .modal .modal__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .modal .modal__bottom .modal__subheader {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .modal .modal__bottom .modal__form {
    width: 100%;
    border-bottom: 2px dashed #D7D7D7;
  }
  .modal .modal__bottom .modal__form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .modal .modal__bottom .modal__form form .input-tel {
    margin-bottom: 1rem;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    padding: .5rem 1rem;
  }
  .modal .modal__bottom .modal__form form label {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 2rem;
  }
  .modal .modal__bottom .modal__form form input[type='submit'] {
    margin: 0;
    margin-bottom: 2rem;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .modal .modal__bottom .modal__socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal .modal__close {
    right: 2.5rem;
    top: 2.5rem;
  }
  nav {
    width: 100%;
    margin: 0;
    -webkit-border-radius: 24px;
            border-radius: 24px;
    -webkit-border-top-left-radius: 0;
            border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0;
  }
  nav .nav__block {
    display: none;
  }
  nav .nav__mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    padding: 2rem 1rem;
    height: auto;
  }
  footer .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer__block .footer__right-block {
    margin: 0;
  }
  footer .footer__block .footer__header {
    margin: 2rem 0;
    text-align: center;
  }
  footer .footer__block a.btn {
    margin-top: 3rem;
    margin-bottom: 4rem;
    width: 40%;
    min-width: 12rem;
    max-width: 18rem;
  }
  footer .footer__block a.btn.btn:last-child {
    width: -webkit-calc(50% + 2rem);
    width: calc(50% + 2rem);
    min-width: 17rem;
    max-width: 22rem;
  }
  footer .footer__block .footer__address {
    text-align: center;
  }
  footer .footer__block .footer__copyright {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 900px) {
  main.report .report-block {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  main.main .main__header {
    font-size: 2rem;
    text-align: center;
  }
  main.report .main__header-block {
    width: -webkit-calc(100% - 1rem);
    width: calc(100% - 1rem);
    padding-bottom: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main.report .main__header-block .main__header {
    margin-bottom: 1rem;
  }
  main.report .report-block {
    width: -webkit-calc(100% - 1rem);
    width: calc(100% - 1rem);
    padding-top: 2rem;
  }
  main.report .report-block .report-block__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main.report .report-block .report-block__header h3 {
    margin: 0;
    margin-bottom: 1rem;
  }
  main.report .report-block .report-types {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main.report .report-block .report-types .report-type {
    margin: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 485px) {
  nav {
    padding: 0 1rem;
  }
  main.main .main__header {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .bg-gradient {
    height: 190vh;
  }
  html {
    font-size: 13px;
  }
}
