$black: #2E2E2E;
$lightgray: #EEEEEE;
$blue: #477ABC;
$gray: #D7D7D7;
$green: #75CD9B;
$darkgray: #626262;
$red: #E85151;
$white: #F9F9F9;
$teal: #48B8AC;
$green2: #21A038;
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    border: 0;
    scroll-behavior: smooth;
    color: $black;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
    &.modal-active {
        overflow: hidden;
    }
}

// BG SETTINGS
.bg-gradient {
    background: radial-gradient(50% 50% at 50% 50%, #A8C5EA 0%, #477ABC 100%) no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
}

.bg {
    position: absolute;
    top: 0;
    min-height: 100%;
    width: auto;
    z-index: -1;
}

.bg-right {
    right: -300px;
    z-index: -1;
}

.bg-left {
    z-index: -1;
    top: 0;
}

.bg-block {
    width: 100%;
    overflow: hidden;
    height: 8.5rem;
    opacity: .25;
    position: relative;
    img {
        position: absolute;
        left: 0;
        top: -25vw;
        width: 100vw;
    }
    .gradient {
        z-index: 100;
    }
}

// COMPONENTS
.gradient {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(71, 122, 188, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 100;
    width: 100%;
    height: 100%;
}

.logo {
    width: 3.6rem;
    height: auto;
    cursor: pointer;
}

.ico {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.btn {
    color: #fff;
    font-weight: 500;
    font-size: 1.3rem;
    border-radius: 12px;
    transition: .3s ease-in;
    min-width: 22rem;
    height: 3.6rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    span {
        color: #fff;
    }
    img.ico {
        margin-right: 1rem;
    }
    &.btn-blue {
        background-color: #477ABC;
        &:hover {
            box-shadow: 0px 4px 16px rgba(47, 137, 206, 0.5);
        }
    }
    &.btn-green {
        background-color: $green2;
        &:hover {
            box-shadow: 0px 4px 16px rgba(117, 205, 155, 0.5);
        }
    }
}

.input {
    display: flex;
    align-items: center;
    padding: .25rem .5rem;
    background: #FFFFFF;
    border: 2px solid #D7D7D7;
    border-radius: 12px;
    width: 20rem;
    img {
        margin-right: 1rem;
    }
    input {
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
        &::placeholder {
            color: $gray;
        }
    }
}

input[type="checkbox"] {
    // border: 2px solid #75CD9B;
    // border-radius: 10000px;
    position: absolute;
    z-index: -1000;
    opacity: 0;
    &+label {
        position: relative;
        padding-left: 2rem;
        display: block;
        margin-top: 1rem;
        cursor: pointer;
        user-select: none;
        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            width: 1rem;
            height: 1rem;
            left: .5rem;
            top: 0;
            border: 2px solid #75CD9B;
            border-radius: 10000px;
            transition: .1s ease-in;
        }
    }
    &:checked+label::before {
        background-color: $green;
    }
}

.modal {
    display: none;
    &.active {
        display: block;
    }
    position: fixed;
    left: calc(50% - 30rem);
    top: calc(50% - 15rem);
    background-color: #fff;
    border: 2px solid #EEEEEE;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.05);
    border-radius: 36px;
    width: 60rem;
    height: 30rem;
    z-index: 100000;
    padding: 2rem;
    .modal__header {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .modal__desc {
        font-size: 1.2rem;
    }
    .modal__options {
        display: flex;
        align-items: center;
        border-bottom: 2px dashed #D7D7D7;
        padding-bottom: 4rem;
        .modal__option {
            display: flex;
            align-items: center;
            margin-right: 2rem;
            span {
                font-size: 1.2rem;
                margin-left: .5rem;
                font-weight: 500;
            }
        }
    }
    .modal__bottom {
        display: flex;
        margin-top: 2rem;
        .modal__subheader {
            font-size: 1.5rem;
            margin: 1rem 0;
        }
        .modal__form {
            form {
                display: flex;
                flex-wrap: wrap;
                input[type='submit'] {
                    min-width: 12rem;
                    margin-left: 1rem;
                }
            }
        }
        .modal__socials {}
    }
    .modal__close {
        position: fixed;
        right: calc((50% - 30rem) + 1.5rem);
        top: calc(50% - 13.5rem);
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
            margin-right: .5rem;
            color: $red;
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(200, 200, 200, 0.25);
    backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
    z-index: 1000;
    &.active {
        display: block;
    }
}

// NAV
nav {
    width: 70%;
    height: 10vh;
    min-height: 5rem;
    margin: 3rem auto;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid $gray;
    padding: 0rem 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .nav__mobile {
        display: none;
        width: 100%;
        align-items: center;
        img.logo {
            margin-right: 2rem;
        }
        img.ico {
            margin-left: auto;
        }
    }
    .nav__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img.logo {
            margin-right: 2rem;
        }
        .nav__menu,
        .nav__socials {
            display: flex;
            align-items: center;
            li {
                display: flex;
                align-items: center;
                margin-right: 1rem;
                &:first-child {
                    margin-right: 2rem;
                }
                img {
                    margin-right: 1rem;
                }
                a {
                    font-size: 1.2rem;
                    font-weight: 500;
                    transition: .3s ease-in;
                    &:hover {
                        // font-weight: 600;
                        text-shadow: 0 0 .5px black;
                    }
                }
            }
        }
    }
}

// MAIN
main {
    min-height: calc(90vh - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    .main__header-block {
        display: flex;
        align-items: center;
        width: 70%;
        padding-left: 5rem;
        margin-bottom: 3rem;
        img {
            margin-left: 2rem;
        }
    }
    .main__header {
        font-weight: bold;
        color: #fff;
        font-size: 3rem;
        // margin-top: 3rem;
        // margin-bottom: 3rem;
        text-align: center;
        &.main__header_dark {
            color: $black;
        }
    }
    .main__header-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main__subheader {
        font-weight: 500;
        color: #fff;
        font-size: 2.5rem;
        text-align: center;
        &.main__subheader_dark {
            color: $black;
        }
    }
    .main__desc_dark {
        color: $black;
    }
    .blocks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border: 1px solid $gray;
        border-radius: 16px;
        width: 70%;
        .block {
            margin: 1.5rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding-right: 2rem;
            border-right: 2px solid $gray;
            span {
                margin-right: 1rem;
                cursor: pointer;
                font-weight: 600;
                font-size: 1.2rem;
            }
            &:last-child {
                border: none;
            }
            .mobile-element {
                display: none;
            }
            p {
                margin-top: 1rem;
                text-align: center;
            }
            a.btn {
                min-width: 15rem;
                width: 50%;
                margin-top: 1rem;
            }
        }
    }
    .main__desc {
        margin-top: 3rem;
        color: #fff;
        font-weight: 300;
        line-height: 1.8rem;
        font-size: 1.2rem;
        max-width: 40rem;
        text-align: center;
        &.main__desc_dark {
            color: $black;
        }
    }
    .main__banks {
        display: flex;
        align-items: center;
        margin-top: 5rem;
        .main__bank-block {
            &:not(:last-child) {
                margin-right: 2rem;
            }
            img {
                opacity: .5;
            }
        }
    }
}

main.banks {
    margin-bottom: 5rem;
    .main__desc {
        margin: 0;
    }
    .mobile-element {
        display: none;
    }
    .main__btns {
        width: calc(100% - 2rem);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        a:first-child {
            margin-right: 2rem;
            white-space: normal;
        }
        a:last-child {
            width: 30%;
        }
    }
    .main__banks {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 70%;
        .bank {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: #FFFFFF;
            border: 2px solid #EEEEEE;
            border-radius: 16px;
            transition: .3s ease-in;
            width: 18rem;
            height: 10rem;
            padding-left: 2rem;
            margin-bottom: 3rem;
            margin-right: 1rem;
            cursor: pointer;
            .bank__logo {
                margin-bottom: 2rem;
                width: calc(100% - 4rem);
            }
            span {
                font-weight: 500;
                font-size: 1.2rem;
            }
            &:hover {
                box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.05);
            }
        }
    }
}

main.report {
    .report-block {
        border-bottom: 2px dashed #D7D7D7;
        border-top: 2px dashed #D7D7D7;
        padding: 5rem 0;
        width: 70%;
        .report-block__header {
            display: flex;
            align-items: center;
            h3 {
                margin-right: 1.5rem;
            }
            span {
                border: 2px solid $green;
                border-radius: 12px;
                color: $green;
                padding: .7rem 3rem;
                cursor: pointer;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
        .report-types {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 3rem;
            .report-type {
                margin-bottom: 1rem;
                width: 19rem;
                height: 14rem;
                display: flex;
                flex-direction: column;
                border-radius: 16px;
                border: 2px solid #EEEEEE;
                cursor: pointer;
                transition: .3s ease-in;
                &:hover {
                    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.05);
                }
                .report-type__img {
                    border-radius: 16px 16px 0 0;
                    width: 100%;
                    height: 65%;
                    overflow: hidden;
                    position: relative;
                    \ img {
                        width: 100%;
                    }
                }
                .report-type__caption {
                    height: 35%;
                    padding: 1rem;
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 1.5rem;
                        font-weight: 600;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}

main.objects {
    margin-bottom: 5rem;
    .crumbs {
        display: flex;
        margin-left: 2rem;
        align-items: center;
        span {
            margin: 0 1rem;
            font-weight: 600;
        }
        .crumb {
            background-color: $blue;
            padding: 1rem;
            color: #fff;
            border-radius: 12px;
            font-weight: 500;
            cursor: pointer;
        }
    }
    .report {
        background-color: #F9F9F9;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .report-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3rem 0;
            padding-left: 5rem;
        }
        .report-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: #F9F9F9;
            width: 41rem;
            height: 15rem;
            padding: 2rem 3rem;
            position: relative;
            &:last-child {
                padding: 0;
                margin-right: 0;
                width: max-content;
            }
            img.report-block__bg {
                z-index: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                filter: drop-shadow(0px 4px 26px rgba(0, 0, 0, 0.1));
                transition: .3s ease-in;
            }
            .report-block__bg_sm {
                display: none;
            }
            &:first-child:hover {
                img.report-block__bg {
                    filter: drop-shadow(0px 4px 26px rgba(0, 0, 0, 0.15));
                }
            }
            margin-right: 2rem;
            position: relative;
            .report-subblock {
                background: #FFFFFF;
                box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.1);
                padding: 2rem 1.5rem;
                border-radius: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                transition: .3s ease-in;
                height: 7rem;
                span {
                    font-weight: 600;
                    font-size: 1.5rem;
                    margin-right: 1rem;
                }
                &:hover {
                    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.15);
                }
            }
            .report-block__header {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;
                z-index: 1;
                h3 {
                    font-size: 2.5rem;
                    margin-right: 1rem;
                }
            }
            .line {
                z-index: 1;
                margin-left: -1.75rem;
                border-top: 2px dashed $gray;
                &.line-bg {
                    position: absolute;
                    width: calc(100% - 2.5rem);
                    top: 6.5rem;
                }
            }
            .report-block__table {
                z-index: 1;
                display: flex;
                flex-direction: column;
                margin-top: 2rem;
                .row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 0.5rem;
                    span {
                        font-weight: 600;
                        font-size: 1.5rem;
                        &:first-child {
                            margin-right: 1rem;
                        }
                        &:last-child {
                            margin-left: 1rem;
                        }
                    }
                    .line {
                        flex-grow: 1;
                        margin: 0;
                    }
                }
            }
        }
    }
    .documents {
        display: flex;
        align-items: center;
        width: 70%;
        padding-left: 5rem;
        justify-content: space-between;
        margin-top: 3rem;
        a {
            flex-shrink: 0;
            margin-right: 2rem;
        }
        p {
            font-weight: 500;
        }
    }
}

// FOOTER
footer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    height: 18rem;
    .logo {
        width: 5rem;
        height: auto;
    }
    // .footer__copyright {
    //     display: none;
    // }
    .footer__block {
        display: flex;
        width: 100%;
        align-items: center;
        &:last-child {
            justify-content: space-between;
        }
        height: 100%;
        .footer__right-block {
            margin-left: auto;
            display: flex;
            flex-direction: column;
        }
        .logo {
            margin-right: 2rem;
        }
        span {
            text-align: center;
            a {
                font-size: 2.1rem;
            }
            font-weight: 600;
            font-size: 2.6rem;
        }
        .footer__copyright {
            display: block;
            font-weight: 300;
            font-size: 1.7rem;
        }
        .footer__address {
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
}

// MEDIA QUERIES
@media screen and (max-width: 1700px) {
    nav {
        width: 80%;
        padding: 0 4rem;
    }
    main.objects .report .report-wrapper {
        padding-left: 0;
    }
}

@media screen and (max-width: 1500px) {
    nav {
        width: 90%;
        padding: 0 3rem;
    }
    main .main__header-block {
        padding: 0;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 1440px) {
    // hide bg
    .bg {
        display: none;
    }
    .bg-gradient {
        background: radial-gradient(153.02% 44.91% at 50% 50%, #A8C5EA 0%, #477ABC 100%);
    }
    nav {
        .nav__block {
            &:first-child {
                li:not(:nth-child(2)) {
                    display: none;
                }
            }
            &:last-child {
                ul {
                    flex-direction: column;
                    align-items: flex-start;
                    li {
                        margin: 0;
                        &:first-child {
                            margin-right: 0;
                        }
                        &:first-child {
                            margin-bottom: .5rem;
                        }
                    }
                }
            }
        }
    }
    main {
        .blocks {
            width: 90%;
        }
    }
    main.objects {
        .report {
            .report-wrapper {
                padding-left: 0;
                .report-block {
                    height: 11rem;
                    padding: 1rem 2rem;
                    &:first-child {
                        width: 31rem;
                        .report-block__header {
                            h3 {
                                font-size: 2rem;
                            }
                        }
                        .line.line-bg {
                            margin-left: -.75rem;
                            top: 4.9rem;
                        }
                        .report-block__table {
                            margin: 0;
                            .row {
                                span {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                    &:last-child {
                        padding: 0;
                        .report-subblock {
                            height: 5rem;
                        }
                    }
                }
            }
        }
        .documents {
            width: 90%;
            padding: 0;
        }
    }
}

@media screen and (max-width: 1130px) {
    main.objects {
        .report {
            .report-wrapper {
                flex-direction: column;
                width: 100%;
                .report-block {
                    margin: 0;
                    margin-bottom: 2rem;
                    width: calc(100% - 10rem);
                    max-width: 40rem;
                    &:first-child {
                        width: 40rem;
                        margin-bottom: 5rem;
                        .report-block__header {
                            h3 {
                                font-size: 2.5rem;
                            }
                        }
                        .line.line-bg {
                            top: 6.3rem;
                        }
                        .report-block__table {
                            margin-top: 3rem;
                            .row {
                                span {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                    &:last-child {
                        height: auto;
                        .report-subblock {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .bg-gradient {
        height: 220vh;
    }
    main.main {
        .main__desc,
        .main__banks {
            display: none;
        }
    }
    main .main__header-block {
        margin-top: 2rem;
    }
    main.objects {
        .documents {
            flex-direction: column;
            width: 70%;
            a {
                margin: 0;
                margin-bottom: 2rem;
                width: 70%;
                white-space: normal;
                text-align: center;
            }
            p {
                width: 70%;
            }
        }
    }
    main.banks {
        .main__btns {
            a:first-child {
                margin: 0;
            }
            a:last-child {
                display: none;
            }
        }
        .mobile-element {
            display: flex;
        }
        .main__banks {
            width: calc(100% - 2rem);
            .bank {
                margin: 0;
                margin-bottom: 2rem;
                width: 25rem;
                height: 14rem;
            }
        }
    }
    main {
        // min-height: 200vh;
        .main__header {
            font-size: 2.5rem;
        }
        .blocks {
            flex-direction: column;
            width: 70%;
            min-width: 20rem;
            border: 0;
            background-color: transparent;
            .block {
                width: 100%;
                display: flex;
                flex-direction: column;
                border: 0;
                background-color: #fff;
                border: 2px solid #EEEEEE;
                border-radius: 22px;
                padding: 2rem;
                .mobile-element {
                    display: flex;
                    order: 3;
                }
                .illustration {
                    order: 0;
                    margin-bottom: 1rem;
                }
                span {
                    order: 2;
                    text-align: center;
                }
                .ico {
                    display: none;
                }
            }
        }
    }
    .modal {
        width: calc(100% - 2rem);
        // height: calc(100% - 4rem);
        height: max-content;
        max-height: calc(100vh - 2rem);
        left: 1rem;
        top: 1rem;
        overflow-y: auto;
        .modal__header {
            margin-top: 1.5rem;
            font-size: 2rem;
        }
        .modal__desc {
            text-align: center;
        }
        .modal__options {
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 1rem;
            .modal__option {
                margin: 0;
                margin-bottom: 1rem;
                span {}
            }
        }
        .modal__bottom {
            flex-direction: column;
            align-items: center;
            margin: 0;
            .modal__subheader {
                text-align: center;
                margin-bottom: 1.5rem;
            }
            .modal__form {
                width: 100%;
                border-bottom: 2px dashed #D7D7D7;
                form {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: nowrap;
                    .input-tel {
                        margin-bottom: 1rem;
                        order: 0;
                        padding: .5rem 1rem;
                    }
                    label {
                        order: 1;
                        margin-bottom: 2rem;
                    }
                    input[type='submit'] {
                        margin: 0;
                        margin-bottom: 2rem;
                        order: 2;
                    }
                }
            }
            .modal__socials {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
        .modal__close {
            right: 2.5rem;
            top: 2.5rem;
            span {}
        }
    }
    nav {
        width: 100%;
        margin: 0;
        border-radius: 24px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        .nav__block {
            display: none;
        }
        .nav__mobile {
            display: flex;
        }
    }
    footer {
        padding: 2rem 1rem;
        height: auto;
        .footer__block {
            flex-direction: column;
            align-items: center;
            .footer__right-block {
                margin: 0;
            }
            .footer__header {
                margin: 2rem 0;
                text-align: center;
            }
            a.btn {
                margin-top: 3rem;
                margin-bottom: 4rem;
                width: 40%;
                min-width: 12rem;
                max-width: 18rem;
                &.btn:last-child {
                    width: calc(50% + 2rem);
                    // border: 1px solid red;
                    min-width: 17rem;
                    max-width: 22rem;
                }
            }
            .footer__address {
                text-align: center;
            }
            .footer__copyright {
                order: 2;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    main.report {
        .report-block {
            width: 85%;
        }
    }
}

@media screen and (max-width: 768px) {
    main.main {
        .main__header {
            font-size: 2rem;
            text-align: center;
        }
    }
    main.report {
        .main__header-block {
            width: calc(100% - 1rem);
            padding-bottom: 2rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .main__header {
                margin-bottom: 1rem;
            }
        }
        .report-block {
            width: calc(100% - 1rem);
            padding-top: 2rem;
            .report-block__header {
                flex-direction: column;
                h3 {
                    margin: 0;
                    margin-bottom: 1rem;
                }
            }
            .report-types {
                flex-direction: column;
                .report-type {
                    margin: 0;
                    margin-bottom: 1rem;
                }
            }
        }
    }
    main.objects {
        .bg-block {
            // border: 1px solid red;
            height: 15vh;
            img {
                width: 150vw;
                top: -35vw;
                left: -25vw;
            }
        }
        .main__header-block .main__header-container {
            flex-direction: column;
            h2 {
                margin-bottom: 1rem;
            }
            .crumbs {
                margin: 0;
            }
        }
        .bg-block {
            opacity: 1;
        }
        .report {
            .report-wrapper {
                .report-block {
                    &:first-child {
                        width: 30rem;
                        height: 31.5rem;
                        margin-bottom: 2rem;
                        justify-content: center;
                        .line.line-bg {
                            top: 16rem;
                            width: calc(100% - 3.5rem);
                            left: 2.5rem;
                        }
                        .report-block__header {
                            flex-direction: column;
                            height: 100%;
                            h3 {
                                margin-right: 0;
                                margin-bottom: 1rem;
                                font-size: 3.5rem;
                            }
                            img {
                                width: 70%;
                                min-width: 13rem;
                            }
                        }
                        .report-block__table {
                            height: 100%;
                            justify-content: center;
                            .row {
                                margin-bottom: 2rem;
                                align-items: baseline;
                                .line {
                                    border: 0;
                                    border-bottom: 4px dotted $gray;
                                }
                            }
                        }
                    }
                    &:last-child {
                        width: 30rem;
                        .report-subblock {
                            height: 10rem;
                        }
                    }
                    img.report-block__bg_sm {
                        display: block;
                        z-index: 0;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 30rem;
                        filter: drop-shadow(0px 4px 26px rgba(0, 0, 0, 0.1));
                        transition: .3s ease-in;
                    }
                    .report-block__bg {
                        display: none;
                    }
                    &:first-child:hover {
                        img.report-block__bg_sm {
                            filter: drop-shadow(0px 4px 26px rgba(0, 0, 0, 0.15));
                        }
                    }
                }
            }
        }
        .documents {
            flex-direction: column;
            width: calc(100% - 4rem);
            max-width: 40rem;
            a {
                margin: 0;
                margin-bottom: 2rem;
                width: calc(100% - 4rem);
                max-width: 40rem;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    main.objects {
        .report {
            .report-wrapper {
                .report-block {
                    &:first-child {
                        width: 25rem;
                        height: 26.5rem;
                        justify-content: flex-start;
                        img {
                            width: 100%;
                        }
                        .line.line-bg {
                            top: 13.25rem;
                        }
                        .report-block__table {
                            margin: 0;
                            justify-content: flex-end;
                            .row {
                                .line {
                                    min-width: 1rem;
                                }
                                span:last-child {
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                    &:last-child {
                        width: 25rem;
                        .report-subblock {
                            height: 10rem;
                        }
                    }
                }
            }
        }
        .documents {
            p {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 485px) {
    nav {
        padding: 0 1rem;
    }
    main.main {
        .main__header {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 445px) {
    main.objects {
        .main__header-block .main__header-container {
            
            .crumbs {
                span {
                    margin: 0 .5rem;
                }
            }
        }
        .report {
            .report-wrapper {
                .report-block {
                    &:first-child {
                        width: 22rem;
                        height: 23.3rem;
                        .line.line-bg {
                            top: 11.75rem;
                        }
                        .report-block__header {
                            h3 {
                                font-size: 3rem;
                            }
                        }
                        .report-block__table {
                            .row {
                                span {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                    &:last-child {
                        width: 20rem;
                        .report-subblock {
                            // height: 10rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .bg-gradient {
        height: 190vh;
    }
    html {
        font-size: 13px;
    }
}